@import "mixings";

// LAYOUT
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  @extend .container-fluid;
  @media (min-width: #{$sm}) {
    max-width: 540px;
  }
  @media (min-width: #{$md}) {
    max-width: 720px;
  }
  @media (min-width: #{$lg}) {
    max-width: 960px;
  }
  @media (min-width: #{$xl}) {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-6,
.col,
.col-sm-6,
.col-sm-12,
.col-md-6,
.col-lg-6,
.col-xl-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
// EQUAL AUTO WIDTH COL
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
// AUTO COL. CONTENT DETERMINES WIDTH
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-12 {
  @include grid-col(12);
}
.col-6 {
  @include grid-col(6);
}
@media (min-width: 576px) {
  .col-sm-6 {
    @include grid-col(6);
  }
  .col-sm-12 {
    @include grid-col(12);
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    @include grid-col(3);
  }
  .col-md-6 {
    @include grid-col(6);
  }
  .col-md-8 {
    @include grid-col(8);
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    @include grid-col(6);
  }
}
@media (min-width: 1200px) {
  .col-xl-6 {
    @include grid-col(6);
  }
}
.d-flex {
  display: flex;
}
.justify-content-c {
  justify-content: center;
}
.justify-content-sb {
  justify-content: space-between;
}
.justify-content-se {
  justify-content: space-evenly;
}
.align-items-c {
  align-items: center;
}
.justify-content-e {
  justify-content: flex-end;
}
@media screen and (min-width: $md) {
  .justify-content-md-e {
    justify-content: flex-end;
  }
  .align-items-md-c {
    align-items: center;
  }
}
.fd-c {
  flex-direction: column;
}
.fd-r {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-md-row {
  @media screen and (min-width: $md) {
    flex-direction: row;
  }
}
//LAYOUT
// SPACING
.mh-auto {
  margin-left: auto;
  margin-right: auto;
}
.mh-2 {
  margin-left: $spacer2;
  margin-right: $spacer2;
}
.mv-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mv-2 {
  margin-top: $spacer2;
  margin-bottom: $spacer2;
}
.mt-1 {
  margin-top: $spacer1;
}
.mt-4 {
  margin-top: $spacer4;
}
.mt-5 {
  margin-top: $spacer5;
}
.mb-1 {
  margin-bottom: $spacer1;
}
.mb-2 {
  margin-bottom: $spacer2;
}
.mb-3 {
  margin-bottom: $spacer3;
}
.mb-4 {
  margin-bottom: $spacer4;
}
.mb-5 {
  margin-bottom: $spacer5;
}
.ml-md-auto {
  @media screen and (min-width: $md) {
    margin-left: auto;
  }
}
.pv-1 {
  padding-top: $spacer1;
  padding-bottom: $spacer1;
}
.pv-2 {
  padding-top: $spacer2;
  padding-bottom: $spacer2;
}
.pv-3 {
  padding-top: $spacer3;
  padding-bottom: $spacer3;
}
.pv-4 {
  padding-top: $spacer4;
  padding-bottom: $spacer4;
}
.pv-5 {
  padding-top: $spacer5;
  padding-bottom: $spacer5;
}
.ph-1 {
  padding-left: $spacer1;
  padding-right: $spacer1;
}
.ph-2 {
  padding-left: $spacer2;
  padding-right: $spacer2;
}
.ph-3 {
  padding-left: $spacer3;
  padding-right: $spacer3;
}
.pt-3 {
  padding-top: $spacer3;
}
.pt-4 {
  padding-top: $spacer4;
}
.pt-5 {
  padding-top: $spacer5;
}
.pb-5 {
  padding-bottom: $spacer5;
}

// SPACING

// FONT
.ff-playfair-display {
  font-family: "Playfair Display", serif;
}
.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}
.italic {
  font-style: italic;
}
.fs-2 {
  font-size: calc(#{$spacer1} * 7);
}
.fs-3 {
  font-size: calc(#{$spacer1} * 5);
}
.fw-900 {
  font-weight: 900;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fw-100 {
  font-weight: 100;
}
.lh-1 {
  line-height: 1;
}
.lh-2 {
  line-height: 2;
}
.lh-3 {
  line-height: 3;
}
.lh-5 {
  line-height: 5;
}
.lspacing--2 {
  letter-spacing: -1px;
  @media screen and (min-width: $md) {
    letter-spacing: -2px;
  }
}
.color-white {
  color: $white;
}
.color-sec {
  color: $accent-color;
}
// FONT

.d-md-none {
  @media screen and (min-width: $md) {
    display: none;
  }
}

.bg-p {
  background-color: $primary-color;
}
.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-weight: bold;
  transition: all ease-in-out 350ms;
  overflow: hidden;
  cursor: pointer;

  &-primary {
    background-color: $accent-color;
    color: #000;
    border: none;
    &:hover {
      background-color: darken($color: $accent-color, $amount: 40);
    }
  }
  &-cta {
    border-color: $accent-color;
    color: $accent-color;
    background-color: transparent;
    &:hover {
      background-color: $accent-color;
      color: $black;
    }
  }
}

img {
  width: 100%;
  height: auto;
}
