/* Hero section
------------------------------------*/
.hero {
  min-height: 100vh;
  padding: 23vh 0;

  &__img-container {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    min-height: 200px;
    border-radius: 50%;
    background-color: $primary-color;
    clip-path: inset(10% 10% 10% 10% round 20%, 20%);

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 500px;
    //   height: 500px;
    //   background-color: #0072b1;
    //   clip-path: ellipse(40% 29% at 50% 50%);
    // }

    img {
      width: 100%;
      height: auto;
    }
  }
  &__details {
    margin-top: 2rem;
    text-align: center;
  }
  &__name {
    font-size: 2.8rem;
  }
  &__role {
    font-size: 1.3rem;
    color: #666;
  }
  @media screen and (min-width: $laptop-up) {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  &__social-media {
    position: absolute;
    bottom: 3rem;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.3rem;
      height: 2.3rem;
      background-color: black;
      color: white;
      border-radius: 50%;

      &:not(:last-of-type) {
        margin-right: 0.7rem;
      }
    }
    & > div:nth-of-type(1) {
      background-color: #0072b1;
    }
    & > div:nth-of-type(2) {
      background-color: #1da1f2;
    }
  }
}
