/* Hero section
------------------------------------*/
.hero {
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  .container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: $md) {
      max-width: 1200px;
    }
  }
  &__img-container {
    position: relative;
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 180px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  &__details {
    text-align: center;
    color: #ffffff;
  }
  &__name {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  &__role {
    font-size: 1.2rem;
  }
  @media screen and (min-width: $lg) {
    // padding-top: 20vh;
    // padding-bottom: 20vh;
  }

  &__social-media {
    position: absolute;
    left: 2rem;
    bottom: -1rem;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.3rem;
      height: 2.3rem;
      background-color: black;
      color: white;
      border-radius: 50%;

      &:not(:last-of-type) {
        margin-right: 0.7rem;
      }
    }
    & > div:nth-of-type(1) {
      background-color: #0072b1;
    }
    & > div:nth-of-type(2) {
      background-color: #1da1f2;
    }
  }
}
