.portfolio {
  flex-flow: row wrap;
  justify-content: center;
}
.portfolio-item {
  position: relative;
  width: 100px;
  max-width: 150px;
  height: 100px;
  flex: 1 0 100px;
  margin: 0 1rem 2rem 1rem;
  border-radius: $border-radius;
  border: $light-border;
  box-shadow: $primary-box-shadow;
  overflow: hidden;

  &__screenshot-container {
    display: flex;
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__name {
    align-items: center;
    inset: 0;
    position: absolute;
    font-size: smaller;
    font-weight: 600;
    background: rgba($color: #fff, $alpha: 0.8);
    transition: 350ms;
  }
  &:hover &__name {
    top: 70%;
  }
}
