// $primary-color: #23a455;
$primary-color: #097770;
$accent-color: #edca82;
$background-color: #e9e8e5;
$background-color-dark: #464c43;
$white: #fff;
$black: #000;

$border-radius: 5px;
$primary-border: 1px solid
  rgba(
    $color: $black,
    $alpha: 0.3,
  );
$light-border: 1px solid
  rgba(
    $color: $background-color,
    $alpha: 0.5,
  );
$primary-box-shadow: 0 1px 20px 1px #efefef;

// Primary color
// A primary color is the color displayed most frequently
// across your app’s screens and components. Your primary
// color can be used to make a color theme for your app,
// including dark and light primary color variants.

// SECONDARY COLORS
// Floating action buttons
// Selection controls, like sliders and switches
// Highlighting selected text
// Progress bars
// Links and headlines

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Spacer variables
$spacer: 1rem;
$spacer1: calc(#{$spacer} * 0.25);
$spacer2: calc(#{$spacer} * 0.5);
$spacer3: calc(#{$spacer} * 1);
$spacer4: calc(#{$spacer} * 1.5);
$spacer5: calc(#{$spacer} * 3);
