:root {
  --spacing1: 1rem;
  --spacing2: 2rem;
  --spacing3: 3rem;
  --spacing5: 5rem;
  --spacing7: 7rem;
  --spacing10: 10rem;
  @media screen and (min-width: $tablet-up) {
    --spacing1: 1.807rem;
    --spacing2: 3.614rem;
    --spacing3: 5.421rem;
    --spacing5: 9.035rem;
    --spacing7: 12.649rem;
    --spacing10: 18.07rem;
  }

  @media screen and (min-width: $laptop-up) {
    --spacing1: 2.4033rem;
    --spacing2: 4.807rem;
    --spacing3: 7.21rem;
    --spacing5: 12.017rem;
    --spacing7: 16.823rem;
    --spacing10: 24.033rem;
  }
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-ai-c {
  align-items: center;
}
.flex-fd-c {
  flex-direction: column;
}
.flex-fd-r {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.m0a {
  margin: 0 auto;
}
.mh-2 {
  margin-left: var(--spacing2);
  margin-right: var(--spacing2);
}
.mv-2 {
  margin-top: var(--spacing2);
  margin-bottom: var(--spacing2);
}
.mb-1 {
  margin-bottom: var(--spacing1);
}
.mr-1 {
  margin-right: 1rem;
}
.pv-0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pv-1 {
  padding-top: var(--spacing1);
  padding-bottom: var(--spacing1);
}
.pv-2 {
  padding-top: var(--spacing2);
  padding-bottom: var(--spacing2);
}
.pv-3 {
  padding-top: var(--spacing3);
  padding-bottom: var(--spacing3);
}
.pv-5 {
  padding-top: var(--spacing5);
  padding-bottom: var(--spacing5);
}
.ph-1 {
  padding-left: var(--spacing1);
  padding-right: var(--spacing1);
}
.ph-2 {
  padding-left: var(--spacing2);
  padding-right: var(--spacing2);
}
.ph-3 {
  padding-left: var(--spacing3);
  padding-right: var(--spacing3);
}
.pt-3 {
  padding-top: var(--spacing3);
}
.ff-playfair {
  font-family: "Playfair Display", serif;
}
.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}
.italic {
  font-style: italic;
}

.fw-900 {
  font-weight: 900;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fw-100 {
  font-weight: 100;
}
.lh-1 {
  line-height: 1;
}
.lh-2 {
  line-height: 2;
}
.lh-3 {
  line-height: 3;
}
.lh-5 {
  line-height: 5;
}
.lspacing--2 {
  letter-spacing: -1px;
  @media screen and (min-width: $laptop-up) {
    letter-spacing: -2px;
  }
}
.hide-ows {
  @media screen and (min-width: $laptop-up) {
    display: none;
  }
}
.color-white {
  color: $white;
}
.color-sec {
  color: $secondary-color;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-l-60,
.col-l-50,
.col-l-40 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-l-60 {
  @media screen and (min-width: $laptop-up) {
    flex: 0 0 60%;
  }
}
.col-l-50 {
  @media screen and (min-width: $laptop-up) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.col-l-40 {
  @media screen and (min-width: $laptop-up) {
    flex: 0 0 40%;
  }
}
.bg-p {
  background-color: $primary-color;
}
.btn {
  display: inline-block;
  padding: 1.2rem 1.5rem;
  border: 2px solid $primary-color;
  border-radius: 30px;
  color: $primary-color;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all ease-in-out 350ms;
  overflow: hidden;
  cursor: pointer;

  &-primary {
    background-color: $primary-color;
    color: #fff;
    border: none;
    &:hover {
      background-color: darken($color: $primary-color, $amount: 10);
    }
  }
}
