@keyframes scroll-down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(1.8rem);
  }
}
@keyframes slide-in {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
